@media (max-width: 576px) {
    .container{
        max-width: 300px;
        margin: 0 auto;
        backdrop-filter: blur( 15px );
    }
    .btn2{
        justify-content: space-evenly;
        gap: 5px;
        margin: 0px 5px;
        padding: 10px;
    }
    
}